@import 'bootstrap/dist/css/bootstrap';
.navbar {

    background-color: black !important;
    // color:white
    
    }
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: lightblue;
    }
    #logo{
        color: white !important;  
        float: left;
        font-size: 1.7rem;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: bold;
    }
    #home-container{
        margin-top: 25px;
    }
    .jumbotron{
        background-image: asset-url('Homepageimage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 625px;
        padding-top: 140px;
    }
    html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}
#sticky-footer{
    flex-shrink: none;
}

/* Other Classes for Page Styling */

